
body {
  background-color:#f8f9fa !important;
  font-family:Raleway !important;
}
.navbar {
  background-color: red;
}

.navbar > div > ul > li > a{
  color: #f4f4f4 !important;
}
.navbar>div>ul>li>a:hover {
  color:red !important;
}
.navbar,
.navbar-brand {
  min-height: 33px !important;
  margin-bottom: 0;
  border-radius: 0;
}
.navbar > li > a,
.navbar-brand {
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}
/* custom */
.main-color-bg {
  background-color:#ebce44 !important;
  color: #ffffff !important;
  border-color:#ebce44 !important;
}
h6 {
  font-size: 10px !important;
}
h5 {
  font-size: 15px !important;
}
h4 {
  font-size: 20px !important;
}
h3{
  font-size: 25px !important;
}
h2{
  font-size: 30px !important;
}

h1 {
  font-size: 35px !important;
}
small {
  font-size: 9px !important;
}
@media only screen and (max-width: 764px) {
  h6 {
    font-size: 9px !important;
  }
  h5 {
    font-size: 10px !important;
  }
  h4 {
    font-size: 15px !important;
  }
  h3{
    font-size: 20px !important;
  }
  h2{
    font-size: 25px !important;
  }
  
  h1 {
    font-size: 30px !important;
  }
  small {
    font-size: 9px !important;
  }
}




#login {
  margin-top: 45px;
}

/* header */
#header {
  background-color: #696969;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 15px;
}
@media only screen and (max-width: 764px) {
  #header {
    margin-bottom: 0px;
    
  }
}

/*  Breadcrumb */
#breadcrumb {
  margin-bottom: 15px;
}
.breadcrumb {
  background-color: #cccccc;
  color: #333333 !important;
}
.breadcrumb a {
  color: #333333 !important;
}
@media only screen and (max-width: 764px) {
  #breadcrumb {
    display: none !important;
  }
}



.box{
  flex: 0 0 20% !important;
  flex-wrap:wrap !important;
}
@media only screen and (max-width: 864px) {
 
.box{
  flex: 0 0 100% !important;
  flex-wrap:wrap !important;
}
}


.dash-box {
  text-align: center;
  padding:12px 1px 12px 1px !important;
  border: 1px solid #ebce44 !important;
}
.dash-box:hover {
  background-color: #ebce44 !important;
  color:#f7f7f7;
  border: 1px solid #f7f7f7 !important;
}
@media only screen and (max-width: 764px) {
  .dash-box {
    margin: 5px 0px 5px 0px;
  }
}
.lower-sections {
  margin-top: 20px !important;
}


.mobilenav {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidenav>a:hover{
  background-color: #ebce44;
  color:#f7f7f7;
}
.sidenav{
  border:1px solid #ebce44;
  font-size:15px;
}
.listed {
  margin: 0px 2px 0px 0px !important;
 
}
@media only screen and (max-width: 764px) {
  .sidenav {
    display: none !important;
  }
}
@media only screen and (min-width: 765px) {
  .mobilenav {
    display: none !important;
  }
}
.plans-link{
  text-decoration:none;
}
.plans-link:hover{
  text-decoration:none;
}